extends layout.pug 

block content 
    if error
        p.error expenditure amount can not be less then your balance. Please recheck the amount of expenditure or add an income if you had one
    div.new-expense-form
        h1 Add a new spending
        form#form.form(action="/expenditures/new_expenditure", method="POST")
            label Category
            span#category-error
            if categories
                select.input(name = "category")
                    each category in categories
                        option.input(value = category.value)= category.title
            
            label Amount($)
            span#amount-error
            input#limit.input(type="number",step = 0.01, name ="amount")

            label Details
            textarea.input(name="details", cols="30", rows="10") 

            button.input Submit  