extends layout.pug 
block content 
    div.signup-form
        h1 Welcome to the expenduture tracker software! Please, sign up for further work
        form#form.form(action="/sign-up", method="POST")
            label Name
            span#name-error
            input#name.input(type="text", name="name")

            label Surname
            span#surname-error
            input#surname.input(type="text", name="surname")   

            label Email
            span#email-error
            input#email.input(type="email", name="email")   
            
            label Desired limit of expenduture per month in $
            span#limit-error
            input#limit.input(type="number", step = 0.01, name ="limit")

            button.input Submit  
    script(src="/static/javascripts/scripts.js" defer) 