@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 10px;
    color: rgb(8, 7, 7);
}
html{
    max-width: 110rem;
    margin: 0 auto;
}
header,footer{
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
    background-color: rgb(63, 150, 231);
}
h1{
    font-size: 3rem;
    text-align: center;
    color: white;
}
nav{
    display: flex;
    justify-content: space-around;
    -webkit-box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 7px 8px 0px rgba(34, 60, 80, 0.2);
}
.navigators{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a{
    text-align: center;
    text-decoration: none;
    font-size: 3rem;
}
.user-logo,i{
    padding: 4px;
}

a:hover,a i:hover{
    background-color: tomato;
    color: white;
    transition: 0.4s;
    cursor: pointer;
}
#logo{
    margin-top: 1rem;
    width: 300px;
}
footer p{
    font-size: 2rem;
    text-align: center;
    color: white;
}






.personal-info h1{
    margin: 2rem 0;
    color: black;
    border-bottom: 1px solid tomato;
}
.sub-item{
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
}
.sub-item h2{
    font-size: 2rem;
}
.sub-item p{
    font-size: 2rem;
    color: rgb(63, 150, 231);
}
a.update ,button{
    display: inline-block;
    font-size: 2rem;
  background-color: rgb(63, 150, 231);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
a.update{
  margin: 2rem 0 2rem 40%;
}
a.update:hover,button:hover{
    background-color: tomato;
    transition: 0.4s;
}
p.success{
    display: inline-block;
    padding: 10px;
    border: 1 px solid green;
    font-size: 3rem;
    color:green;
}








.signup-form,.new-expense-form, .new-income-form,.update-account-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 0;
  }
  
  .signup-form h1 ,.new-expense-form h1, .new-income-form h1,.update-account-form h1{
    color: tomato;
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
  }
  
  label {
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  input, select,textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 2rem;
  }
  option{
    font-size: 2rem;
  }
#name-error , #surname-error, #email-error, #limit-error,p.error{
    text-align: center;
    font-size: 2rem;
    color: red;
}
.error{
    border: 1px solid red;
}




div.expenditure p,div.income p{
    text-align: center;
    font-size: 3rem;
    color: rgb(63, 150, 231);
    margin: 2rem 0;
}
.expenditure .options, .income .options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
}
.expenditure .options a, .income .options a{
    padding: 2rem;
    text-decoration: none;
    color: white;
    font-size: 2rem;
}
#new-expense{
    background-color: rgb(238, 46, 46);
}
#new-income{
    background-color: rgb(95, 201, 101);
}
#new-expense:hover,#new-income:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.expenditure h1{
    text-align: center;
    font-size: 3rem;
    color: tomato;
    margin: 2rem 0;
    border-bottom: 1px solid tomato;
}
.income h1{
    text-align: center;
    font-size: 3rem;
    color: rgb(63, 150, 231);
    margin: 2rem 0;
    border-bottom: 1px solid rgb(63, 150, 231);
}
.reverse-turner{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
}
div.wrapper{
    border: 1px solid rgb(63, 150, 231);
    border-radius: 20px;
    background-color: rgb(63, 150, 231, 0.4);
    margin-bottom: 3rem;
}
.wrapper h2{
    font-size: 3rem;
    color: black;
    text-align: center;
}
.wrapper div{
    display: flex;
    align-items: center;
}
.expenditure-info, .income-info{
    margin-left: 1rem;
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid white;
}
.expenditure-info div,.income-info div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.expenditure-info div p,.income-info div p{
    color: black;
    font-size: 2rem;
}
.expenditure-info div i, .income-info div i{
    color: black;
    font-size: 10rem;
    margin-right: 2rem;
}
.info-controllers{
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.info-controllers a{
    margin-left: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;
    text-decoration: none;
    color: white;
    font-size: 2rem;
}
.info-controllers a.info-delete{
    background-color: rgb(247, 42, 42);
}
.info-controllers a.info-update{
    background-color: rgb(63, 150, 231);
}
a.info-delete:hover, a.info-update:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.empty{
    font-size: 2rem;
    color: tomato;
    margin: 2rem 0;
    text-align: center;
}